.mainContainer {
    background-color: rgb(255, 252, 220);
<<<<<<< Updated upstream
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "leftpanel mainpanel rightpanel"
    "footer footer footer";
    grid-template-rows: 80px auto 150px;

    
}
.hlavicka{
    grid-area: header;
    background-color: aqua;
    font-family: 'Roboto Mono', monospace;




}


.levaStrana{
    grid-area: leftpanel;
    background-color: rgb(0, 255, 136);
}

.pravaStrana{
    grid-area: rightpanel;
    background-color: rgb(131, 19, 116);
}

.hlavniCast{
    grid-area: mainpanel;
    background-color: rgb(169, 63, 10);
    font-family: 'IBM Plex Serif', serif;
    
}

.paticka{
    grid-area: footer;
    background-color: pink;
}
=======
    display: flex;
    justify-content: center;
    align-items: center;
}
Vytvořte si denní rutinu: Začněte každý den s malými úkoly, jako je ustlání postele, uklizení stolů a
 odnesení nádobí do dřezu. Pravidelná činnost zabrání hromadění nepořádku.

Organizace a úložné prostory: Vytvořte si systém úložných prostor, kam můžete ukládat věci.
 Použijte krabice, koše a regály k tomu, aby měly věci své místo a nepořádek se tak snáze nevytvářel.

Čistěte postupně: Namísto toho, abyste se pokoušeli uklidit celý dům najednou,
 rozdělte si úkoly na menší části. Každý den nebo týden se zaměřte na určitou místnost nebo část domu.

Pravidelné vytírání a vysávání: Prach a špína se neustále usazují na površích a na podlaze.
 Pravidelné vytírání a vysávání pomáhají udržet v domě čistotu a snižují alergenní látky.

Omezte nepotřebné věci: Pravidelně procházejte své věci a zbavujte se toho, co již nepoužíváte. 
Tím snížíte hromadění zbytečného nábytku a věcí.

Zapojte celou rodinu: Udržování čistoty by měla být společná snaha.
 Zainteresujte své blízké, aby se podíleli na úklidu a udržování pořádku.

Čistěte okamžitě: Skvrny na koberci, kapky tekutin na stole nebo potřísněný sporák - čistěte tyto 
věci okamžitě, než se zaschnou a stane se z nich trvalý nečistotný flek.

Používejte úklidové pomůcky: Mějte po ruce vhodné čisticí prostředky, hadry a kartáče.
 S vhodnými nástroji bude úklid rychlejší a efektivnější.

Rutinní úklidové dny: Určte si jednou týdně nebo měsíčně den, kdy se budete věnovat 
důkladnému úklidu, jako je mytí oken, praní závěsů a vytírání nejpoužívanějších místností.

Větrání a dezinfekce: Pravidelné větrání domova pomáhá odstranit zápachy a zlepšit kvalitu vzduchu.
 Při úklidu nezapomeňte také používat dezinfekční prostředky, zejména na místech, která se často dotýkáte, jako jsou kliky, spínače a pracovní plochy.

S dodržováním těchto jednoduchých tipů můžete udržet svůj domov čistým a příjemným prostředím pro
 sebe a své blízké.
>>>>>>> Stashed changes
