.mainContainer {
  background-color: rgb(239, 226, 202);

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "leftpanel mainpanel rightpanel"
    "footer footer footer";
  grid-template-rows: 80px auto 150px;
}
.hlavicka {
  grid-area: header;
}

.levastrana {
  grid-area: leftpanel;
  background-color: rgb(255, 181, 154);
}

.pravaStrana {
  grid-area: rightpanel;
  background-color: rgb(255, 181, 154);
}

.hlavniCast {
  grid-area: mainpanel;
  background-color: rgb(255, 181, 154);
  font-family: "IBM Plex Serif", serif;
}

.paticka {
  grid-area: footer;
  background-color: rgb(204, 120, 110);
}
