.mainContainer {
  background-color: rgb(255, 252, 220);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hlavicka {
  grid-area: header;
  font-family: "Roboto Mono", monospace;
}

.levaStrana{
    grid-area: leftpanel;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.pravaStrana{
    grid-area: rightpanel;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.hlavniCast{
    grid-area: mainpanel;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.paticka{
    grid-area: footer;
    display:flex;
    justify-content: space-between;
    font-size: 25px;

}

        .centered-text {
        margin-left: auto;
        margin-right: auto;
        }

        .socialMediaContainer{
            
            padding-top: 42px ;
            padding-left:600px ;  
        }

        .jmenaPaticka {
            padding-top: 25px ;
            padding-left:75px ;
        }